* {
    font-family: 'Poppins'
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    background-color: #262838;
    border-bottom: 1px solid #000;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

    header span {
        font-weight: bold;
        font-size: 12px;
    }

        header span a {
            color: #ff7800 !important;
        }

footer {
    background-color: #000;
    color: #fff !important;
}

    footer .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

        footer .container div {
            flex: 1;
            min-width: 300px;
        }

.banner {
    background: url('../Images/bed-1.png') no-repeat center;
    height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-div {
    background: rgba(255,255,255,0.35);
    color: #000;
    border-radius: 15% 2% 15% 2% / 100% 100%;
    max-width: 80%;
    width: 700px;
}

.category-container {
    background-color: #262838;
    color: #fff;
}
.category-card {
    background-color: #2E2E3B;
    color: #8B8B8C;
}

    .category-card img {
        height: 80px;
        width: 110px;
        object-fit: contain;
        margin: 0 auto;
    }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
